.row{
    padding: 5px;
    margin: 15px;
    height: 30px;
    display: flex;
    background-color: white;
}

.col{
    background-color: teal;
    flex: 1;
    padding: 20px;
    margin: 10px;
    display: flex;
}

.col2{
    background-color: teal;
    flex: 2;
    padding: 20px;
    margin: 10px;
    display: flex;
}

.col3{
    background-color: teal;
    flex: 3;
    padding: 20px;
    margin: 10px;
    display: flex;
}